/*
:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  font-size: 16px;
  line-height: 1.5;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 
  */

  /* Globális CSS változók a színsémához */
:root {
    /* Világos mód alapértékek */
    --color-background: #ced1ef;
    --color-text: #2e2605;
    --color-primary: #007bff;
    --color-card-bg: #b6edff;
    --color-border: #dddddd;
}

/* Sötét mód változók (a <html> elemen a [data-theme="dark"]-kal lesz beállítva) */
html[data-theme="dark"] {
    --color-background: #245d96; /* Sötét háttér */
    --color-text: #51f6ff;      /* Fehér szöveg */
    --color-primary: #55aaff;   /* Világosabb kék a sötét háttérhez */
    --color-card-bg: #343a40;   /* Sötét szürke kártya */
    --color-border: #495057;
}

/* Reset és alap stílusok */


/* Vue App gyökér és Fő Konténer beállítása teljes magasságra */
#app, .main-app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding: 25px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}